<% layout("./template/boilerplate") %>
    <h1>All Camps</h1>
    <ul>
        <% for (let camp of allcamps) {%>
            <li>
                <a href="/camp/<%=camp.id %>">
                    <%= camp.title %>
                </a>
                -
                $<%= camp.price %>.00
            </li>
            <% } %>
    </ul>
    <form action="/allcamps?_method=DELETE" method="POST">
        <Button>DELETE ALL</Button>
    </form>
    <form action="/camp/newcamp" method="GET">
        <Button>ADD NEW CAMP</Button>
    </form>